<ul class="comment-section">
  <li *ngFor="let comment of topLevelComments()">
    <div>
      <strong>{{ comment.userName }}</strong>
    </div>
    <strong>{{ comment.message }}</strong>
    <small> {{ comment.createdAt | date : "short" }}</small>
    <br />
    <button
      class="btn btn-sm btn-outline-secondary"
      *ngIf="comment.id !== undefined"
      (click)="setReply(comment.id!)"
    >
      Reply
    </button>
    <!-- <input
      class="form-control"
      id="commentBox"
      [(ngModel)]="newComment"
      placeholder="Write a comment or reply..."
    /> -->

    <ul class="nested-replies">
      <li *ngFor="let reply of getReplies(comment.id!)">
        <div>
          <strong>{{ reply.userName }}</strong>
        </div>
        <strong>{{ reply.message }}</strong>
        <small>{{ reply.createdAt | date : "short" }}</small>
      </li>
    </ul>
  </li>
</ul>

<div class="mb-3 mt-4">
  <label for="commentBox" class="form-label">Comment</label>
  <textarea
    class="form-control"
    id="commentBox"
    rows="3"
    [(ngModel)]="newComment"
    placeholder="Write a comment or reply..."
  ></textarea>
</div>

<!-- <div *ngIf="replyTo">
  <small>Replying to comment ID: {{ replyTo }}</small>
  <button class="btn btn-link btn-sm" (click)="cancelReply()">Cancel</button>
</div> -->

<button class="btn btn-primary" (click)="postComment()">Submit</button>
