<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="activePage() == 1">
      <a
        class="page-link"
        href="javascript:void(0)"
        aria-label="Previous"
        (click)="previous()"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    @for (item of numberOfPage; track $index){
    <li class="page-item" [class.active]="item === activePage()">
      <a
        class="page-link"
        href="javascript:void(0)"
        (click)="paginate($event, item)"
        >{{ item }}</a
      >
    </li>
    }
    <li
      class="page-item"
      [class.disabled]="activePage() == numberOfPage.length"
    >
      <a
        class="page-link"
        href="javascript:void(0)"
        aria-label="Next"
        (click)="next()"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
